<%- include('../partials/head') -%> 

<%- include('../partials/navigation-bar') -%> 

    <div class="container-content-main">
        <h1>Product: <%= inventoryItem.name %></h1>

        <p>Hello <%= name %>! See details about the product below or go back to the <a href="/inventory">inventory page.</a></p>

        <p>Name: <%= inventoryItem.name %></p>

        <p>Number of Wheels: <%= inventoryItem.numberOfWheels %></p>
        <% if (sale === true) { %>
            <%  inventoryItem.price = (inventoryItem.price) * .9 %>
            <p> Sale price: $<%=inventoryItem.price %>
                <%  } else { %>
            <p>Price: $<%= inventoryItem.price %></p>  
      <%  } %>

        <p>This is filler code to make the page look nice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolores, sunt, quasi consequatur alias accusantium assumenda ad rem laboriosam soluta maiores repudiandae, facilis eius hic debitis modi? Labore, ipsum temporibus.</p>

        <!-- Create a list and display the products in the inventory using a forEach loop -->

        
    </div>

<%- include('../partials/footer') -%> 